[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "scss-syntax.vim"]
	path = scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-colorschemes"]
	path = vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "Jinja"]
	path = Jinja
	url = https://github.com/vim-scripts/Jinja.git
[submodule "django.vim"]
	path = django.vim
	url = https://github.com/vim-scripts/django.vim.git
[submodule "Vim-LaTex"]
	path = Vim-LaTex
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "dustjs"]
	path = dustjs
	url = git://github.com/jimmyhchan/dustjs.vim.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "openscad.vim"]
	path = openscad.vim
	url = https://github.com/vim-scripts/openscad.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/vim-scripts/rainbow_parentheses.vim.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-ps1"]
	path = vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim-nc"]
	path = vim-nc
	url = https://github.com/gregjurman/vim-nc.git
[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale.git